.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  -webkit-animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

html {
  background-color: #222222;
}

body {
  background: cornflowerblue;
}

.post-item {
  text-align: left;
}

.error {
  color: crimson;
}

.white {
  color: white !important;
}

.checkbox {
  margin-right: 10px;
}

.completed {
  text-decoration-line: line-through;
}

.post-description {
  cursor: pointer;
}

.post-list {
  max-width: 400px !important;
}

.form {
  margin-bottom: 50px;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.full-column {
  display: flex;
  flex: 1;
  flex-direction: column;
}